@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    html,
    body {
        width: 100%;
        height: 100%;

        .main-container {
            height: 100%;
            position: relative;
            .left-var {
                width: 25%;
                height: 100vh;
                background-color: #52bb96;

                .profile-div {
                    width: 100%;
                    background: #4fac8b;
                    padding-top: 0px;
                    .close {
                        display: none;
                        padding: 10px 5px;
                    }
                    @media (max-width: 992px) {
                        .close {
                            display: inline-block;
                        }
                    }
                    .imgs {
                        width: 20%;
                        margin: 0 auto;
                        padding-top: 50px;
                        img {
                            width: 100%;
                        }
                    }
                    .name {
                        text-align: center;
                        color: #fff;
                        .heading1 {
                            font-size: 25px;
                        }
                    }
                }
                .menu-div {
                    background: #52bb96;
                    padding: 20px 11px !important;
                    ul.tab-nav {
                        color: #fff;
                        li {
                            font-size: 17px;
                            text-decoration: none;
                            padding: 10px 20px;
                            i {
                                font-size: 25px;
                                padding-right: 20px;
                            }
                        }
                        li:hover {
                            cursor: pointer;
                            background-color: rgba(32, 32, 32, 0.267);
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                .left-var {
                    display: none;
                }
            }
            @media (max-width: 576px) {
                .left-var {
                    width: 100% !important;
                    li {
                        padding: 10px 5px;
                    }
                }
            }

            .right-var {
                width: 75%;
                height: 100vh;
                .navbar {
                    width: 100%;
                    background: #2e77b7;
                    span.menu-bar {
                        display: none;
                    }
                    @media (max-width: 992px) {
                        span.menu-bar {
                            color: #fff;
                            font-size: 25px;
                            font-weight: 600;
                            display: inline-block !important;
                        }
                    }
                    span.heading1 {
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 0px;
                    }
                    @media (max-width: 768px) {
                        span.heading1 {
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 0px;
                        }
                        .btn {
                            width: auto;
                            padding: 0 10px;
                            border: 2px solid #fff;
                            a {
                                font-size: 12px;
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }
                    .btn {
                        border: 2px solid #fff;
                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}